/*table td {
  vertical-align: top;
}*/

div.main {
  min-height: 500px;
}

table.repositories th:nth-child(1) {
  width: 650px;
}

a.navbar-brand {
  line-height: 1.1em;
}

img.srg-logo {
  height: 60px;
}