<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>OSR {% block title %}{% endblock %}</title>

    <link rel="icon" href="{{favicon_url}}" />

    <link rel="stylesheet" type="text/css" href="{{base_url}}/bootstrap-{{bootstrap_theme}}.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/app.css" />

    <base href="{{base_url}}" />
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% if organization_logo_url %}
        <a class="navbar-brand mr-3">
          <img src="{{organization_logo_url}}" class="srg-logo-secondary" />
        </a>
      {% endif %}
      <a href="{{base_url}}" class="navbar-brand">
        {% if organization %}
          {{organization}}<br />
          <small>OAI PMH Static Repository Gateway</small>
        {% else %}
          OAI PMH Static Repository Gateway
        {% endif %}
      </a>
      {% if organization_logo_url_secondary %}
        <a class="navbar-brand ml-3">
          <img src="{{organization_logo_url_secondary}}" class="srg-logo-secondary" />
        </a>
      {% endif %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user %}
            <span class="text-muted">logged in as</span>
            {{user}} |
            <a href="{{base_url}}/logout">logout</a>
          {% else %}
            <a href="{{base_url}}/login">login</a>
          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container main">
      {% block content %}{% endblock %}
    </div>

    <div class="p-5 mt-5 border-top footer">
      <p class="lead mb-0 text-center">
        {% if organization and organization_url %}
          service provided by
          <br />
          <a href="{{organization_url}}" target="_blank" rel="noopener"
          >{{organization}}</a>
          <br />
        {% endif %}
        <small class="d-block">
          implementation by
          <a href="https://wendig.io" target="_blank" rel="noopener">Wendig</a>
        </small>

        {% if footer_logo_url %}
          <img src="{{footer_logo_url}}" class="srg-logo mt-3" />
        {% endif %}
      </p>
    </div>

    <script type="text/javascript" src="{{base_url}}/jquery.min.js"></script>
    <script type="text/javascript" src="{{base_url}}/bootstrap.min.js"></script>
  </body>
</html>