<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <title>OSR {% block title %}{% endblock %}</title>

    <!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="bootstrap-journal.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{base_url}}/bootstrap-materia.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/fontawesome-all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{base_url}}/app.css" />

    <base href="{{base_url}}" />
  </head>
  
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="font-size: 2em;">
        <i class="fa fa-sitemap"></i>
        OAI PMH Static Repository Gateway
      </a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user %}
            <span class="text-muted">logged in as</span>
            {{user}} |
            <a href="{{base_url}}/logout">logout</a>
          {% else %}
            <a href="{{base_url}}/login">login</a>
          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="p-5 mt-5 border-top text-center">
      <p class="lead">
        service provided by<br />
        <a href="http://www.hab.de" target="_blank" rel="noopener">
          Herzog August Bibliothek Wolfenbüttel
        </a><br />
        <small class="pt-5">
          implementation by
          <a href="https://wendig.io" target="_blank" rel="noopener">Wendig</a>
        </small>
      </p>
    </div>

    <script type="text/javascript" src="{{base_url}}/jquery.min.js"></script>
    <script type="text/javascript" src="{{base_url}}/bootstrap.min.js"></script>
  </body>
</html>