{% extends 'base.html' %}

{% block title %}Repositories{% endblock %}

{% block content %}
  <h3 class="display-3 mb-3 mt-5">
    <div class="float-right">
      <a
        class="btn btn-outline-primary"
        href="{{base_url}}gateway/new"
      ><i class="fa fa-plus"></i></a>
    </div>
    {{ block('title') }}
  </h3>

  <p class="lead mb-4 pr-5">
    These are all repositories available for mediation by this gateway.
    Click on <strong>show examples</strong> on the respective row to reveal some
    requests that you could make about that particular repository. Request
    mediation for a <strong>new repository</strong> by clicking on the plus sign
    on the right.
  </p>

  <table class="repositories table table-bordered table-striped">
    <tr>
      <th>Url</th>
      <th>
        Status<br />
        <small>approved / verified</small>
      </th>
      {% if user %}
        <th class="text-right"></th>
      {% endif %}
    </tr>
    {% for repository in repositories %}
      <tr>
        <td>
          {% if repository.ready() %}
            <small class="d-block float-right">
              <a
                data-toggle="collapse"
                href="#usage-{{repository.id}}"
                aria-expanded="false"
                aria-controls="usage-{{repository.id}}"
              >show examples</a>
            </small>
          {% endif %}
          {% if not repository.verified and repository.verified_at %}
            <small class="d-block float-right">
              <a
                data-toggle="collapse"
                href="#verification-results-{{repository.id}}"
                aria-expanded="false"
                aria-controls="verification-results-{{repository.id}}"
              >verification results</a>
            </small>
          {% endif %}

          <div class="text-weight-light">
            {{repository.url}}
          </div>
          {% if repository.verified %}
            <small class="clear d-block">
              <strong>{{repository.record_count()}}</strong> records,
              last modified at: <strong>{{repository.modified_at}}</strong>
            </small>
          {% endif %}

          <div class="collapse" id="verification-results-{{repository.id}}">
            <hr />

            {% if repository.error_list | length > 0 %}
              <small class="d-block">
                Errors<br />
                  {% for error in repository.error_list %}
                    <code>{{error}}</code><br />
                  {% endfor %}
                </ul>
              </small>
            {% endif %}

            {% if repository.warning_list | length > 0 %}
              <small class="d-block">
                Warnings<br />
                <ul>
                  {% for warning in repository.warning_list %}
                    <li>{{warning}}</li>
                  {% endfor %}
                </ul>
              </small>
            {% endif %}
          </div>

          <div class="collapse" id="usage-{{repository.id}}">
            <hr />

            <small class="d-block">
              OAI PMH <em>Identify</em><br />
              <code>GET {{base_url}}/oai/{{repository.url | reposify}}?verb=Identify</code>
            </small>

            <small class="d-block">
              OAI PMH <em>List metadata formats</em><br />
              <code>GET {{base_url}}/oai/{{repository.url | reposify}}?verb=ListMetadataFormats</code>
            </small>

            <small class="d-block">
              OAI PMH <em>List identifiers</em><br />
              <code>GET {{base_url}}/oai/{{repository.url | reposify}}?verb=ListIdentifiers</code>
            </small>

            <small class="d-block">
              OAI PMH <em>List records</em><br />
              <code>GET {{base_url}}/oai/{{repository.url | reposify}}?verb=ListRecords?metadataPrefix=dc</code>
            </small>

            <small class="d-block">
              OAI PMH <em>Get record</em><br />
              <code>GET {{base_url}}/oai/{{repository.url | reposify}}?verb=GetRecord?metadataPrefix=dc</code>
            </small>
          </div>
        </td>
        <td>
          {% if repository.approved %}
            <i class="fa fa-check text-success"></i>
          {% else %}
            <i class="fa fa-times-circle text-danger"></i>
          {% endif %}
          /
          {% if repository.verified %}
            <i class="fa fa-check text-success"></i>
          {% else %}
            <i class="fa fa-times-circle text-danger"></i>
          {% endif %}

          {% if repository.verified_at %}
            <small class="d-block">
              verified at <strong>{{repository.verified_at}}</strong>
            </small>
          {% endif %}
        </td>
        {% if user %}
          <td class="text-right">
            <div class="btn-group">
              {% if not repository.approved %}
                <a class="btn btn-outline-primary btn-sm" href="gateway?approve={{repository.url}}">
                  <i class="fa fa-thumbs-up"></i> approve
                </a>
              {% endif %}
              <a class="btn btn-outline-primary btn-sm" href="gateway?verify={{repository.url}}">
                <i class="fa fa-check"></i> verify
              </a>
              <a class="btn btn-outline-primary btn-sm" href="gateway?terminate={{repository.url}}">
                <i class="fa fa-minus-circle"></i> terminate
              </a>
            </div>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}
