{% extends 'base.html' %}

{% block title %}Repositories{% endblock %}

{% block content %}
  <h3 class="display-3 mb-3 mt-5">
    <div class="float-right">
      <a
        class="btn btn-outline-primary"
        href="{{base_url}}/gateway/new"
      ><i class="fa fa-plus"></i></a>
    </div>
    {{ block('title') }}
  </h3>

  <p class="lead mt-5 mb-4 pr-5">
    These are all repositories available for mediation by this gateway.
    Click on <strong>show examples</strong> on the respective row to reveal some
    requests that you could make about that particular repository. Request
    mediation for a <strong>new repository</strong> by clicking on the plus sign
    on the right. Click <strong>request termination</strong> to initiate
    termination for your repository's mediation. Please contact
    <a href="mailto: {{admin_email}}">{{admin_email}}</a> if you have any
    questions about this gateway.
  </p>

  {% if user %}
    <p class="lead">
      Also, you are logged in as admin and therefore have access to additional
      functions: In the list below, you can see repositories that requested
      mediation but have not been approved yet. If you plan to approve them, you
      should click <strong>verify</strong> first to check repository compliance.
      This process will parse potentially large XML files and it can take some
      time. If successful, additional statistics for this repository will be
      listed. Any verification errors can be shown by clicking
      <strong>verification errors</strong>. You may approve repositories by
      clicking <strong>approve</strong>, which activates the OAI PMH gateway
      interface for it. The <strong>reject</strong> button will simply remove
      the repository from the system (without notification to the repository
      administrator). To unilaterally terminate mediation for a repository,
      click <strong>force termination</strong> (the repository administrator
      will be notified by email).
    </p>
  {% endif %}

  {% if repositories | length > 0 %}
    <table class="repositories table table-bordered table-striped">
      <tr>
        <th>Url</th>
        <th>
          Status
          {% if user %}
            <br />
            <small>approved / verified</small>
          {% endif %}
        </th>
        <th class="text-right"></th>
      </tr>
      {% for repository in repositories %}
        <tr>
          <td>
            {% if repository.ready() %}
              <small class="d-block float-right">
                <a
                  data-toggle="collapse"
                  href="#usage-{{repository.id}}"
                  aria-expanded="false"
                  aria-controls="usage-{{repository.id}}"
                >show examples</a>
              </small>
            {% endif %}
            {% if not repository.verified and repository.verified_at %}
              <small class="d-block float-right">
                <a
                  data-toggle="collapse"
                  href="#verification-results-{{repository.id}}"
                  aria-expanded="false"
                  aria-controls="verification-results-{{repository.id}}"
                >verification results</a>
              </small>
            {% endif %}

            {% if repository.name %}
              <div class="font-weight-bold">{{repository.name}}</div>
              <small>
                {{repository.url}}
              </small>
            {% else %}
              <div class="font-weight-bold">
                {{repository.url}}
              </div>
            {% endif %}
            
            {% if repository.verified %}
              <small class="clear d-block">
                <strong>{{repository.record_count()}}</strong> records,
                data last modified at: <strong>{{repository.modified_at}}</strong>
              </small>
            {% endif %}

            <div class="collapse" id="verification-results-{{repository.id}}">
              <hr />

              {% if repository.error_list | length > 0 %}
                <small class="d-block">
                  Errors<br />
                    {% for error in repository.error_list %}
                      <code>{{error}}</code><br />
                    {% endfor %}
                  </ul>
                </small>
              {% endif %}

              {% if repository.warning_list | length > 0 %}
                <small class="d-block">
                  Warnings<br />
                  <ul>
                    {% for warning in repository.warning_list %}
                      <li>{{warning}}</li>
                    {% endfor %}
                  </ul>
                </small>
              {% endif %}
            </div>

            <div class="collapse" id="usage-{{repository.id}}">
              <hr />

              <small class="d-block">
                OAI PMH <em>Identify</em><br />
                <code>
                  GET
                  <a
                    target="_blank"
                    href="{{base_url}}/oai-pmh/{{repository.url | reposify}}?verb=Identify"
                  >/oai-pmh/{{repository.url | reposify}}?verb=Identify</a>
                </code>
              </small>

              <small class="d-block">
                OAI PMH <em>List metadata formats</em><br />
                <code>
                  GET
                  <a
                    target="_blank"
                    href="{{base_url}}/oai-pmh/{{repository.url | reposify}}?verb=ListMetadataFormats"
                  >/oai-pmh/{{repository.url | reposify}}?verb=ListMetadataFormats</a>
                </code>
              </small>

              <small class="d-block">
                OAI PMH <em>List identifiers</em><br />
                <code>
                  GET
                  <a
                    target="_blank"
                    href="{{base_url}}/oai-pmh/{{repository.url | reposify}}?verb=ListIdentifiers&metadataPrefix={{repository | preferred_prefix}}"
                  >/oai-pmh/{{repository.url | reposify}}?verb=ListIdentifiers&metadataPrefix={{repository | preferred_prefix}}</a>
                </code>
              </small>

              <small class="d-block">
                OAI PMH <em>List records</em><br />
                <code>
                  GET
                  <a
                    target="_blank"
                    href="{{base_url}}/oai-pmh/{{repository.url | reposify}}?verb=ListRecords&metadataPrefix={{repository | preferred_prefix}}"
                  >/oai-pmh/{{repository.url | reposify}}?verb=ListRecords&metadataPrefix={{repository | preferred_prefix}}</a>
                </code>
              </small>

              <small class="d-block">
                OAI PMH <em>Get record</em><br />
                <code>
                  GET
                  <a
                    target="_blank"
                    href="{{base_url}}/oai-pmh/{{repository.url | reposify}}?verb=GetRecord&identifier=xxx&metadataPrefix={{repository | preferred_prefix}}"
                  >/oai-pmh/{{repository.url | reposify}}?verb=GetRecord&identifier=xxx&metadataPrefix={{repository | preferred_prefix}}</a>
                </code>
              </small>
            </div>
          </td>
          <td>
            {% if user %}
              {% if repository.approved %}
                <i class="fa fa-check text-success"></i>
              {% else %}
                <i class="fa fa-times-circle text-danger"></i>
              {% endif %}
              /
              {% if repository.verified %}
                <i class="fa fa-check text-success"></i>
              {% else %}
                <i class="fa fa-times-circle text-danger"></i>
              {% endif %}
            {% endif %}

            {% if repository.verified_at %}
              <small class="d-block">
                last verified at <strong>{{repository.verified_at}}</strong>
              </small>
            {% endif %}
          </td>
          <td class="text-right">
            {% if user %}
              {% if not repository.approved and repository.verified %}
                <a class="d-block" href="{{base_url}}/gateway?approve={{repository.url}}">
                  approve <i class="fa fa-thumbs-up"></i>
                </a>
              {% endif %}
              {% if not repository.approved or not repository.verified %}
                <a class="d-block" href="{{base_url}}/gateway?reject={{repository.url}}">
                  reject <i class="fa fa-thumbs-down"></i>
                </a>
              {% endif %}
              <a class="d-block" href="{{base_url}}/gateway?import={{repository.url}}">
                verify <i class="fa fa-check"></i>
              </a>

              {% if repository.approved and repository.verified %}
                <a class="d-block" href="{{base_url}}/gateway?terminate-unilaterally={{repository.url}}">
                  force termination <i class="fa fa-exclamation-circle"></i>
                </a>
              {% endif %}
            {% endif %}

            {% if repository.approved and repository.verified %}
              <a class="d-block" href="{{base_url}}/gateway?terminate={{repository.url}}">
                request termination <i class="fa fa-stop-circle"></i>
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
  There are no repositories registered yet. Add one by clicking the plus icon
  in the top right corner.
  {% endif %}
{% endblock %}
